{{#if this.saved}}
{{else}}
<div class="card">
    <div class="card-content">
        <div class="media">
            <div class="media-right">
                <a class="btn btn-info" data-id={{this.id}} data-saved="true">Save Article</a>
            </div>
            <div class="media-content">
                <h5 class="title is-4">{{this.title}}</h5>
                <p class="summary is-4">{{this.summary}}</p>
                <a href="{{this.link}}">View Article</a>
            </div>
        </div>
    </div>
</div>
<br>
{{/if}}